mat-card {
  max-width: 50%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar {
  background: #004a9f;
  color: white;
  margin-bottom: 1em;
  border-radius: 15px 15px 0 0;
}

mat-card-actions {
  justify-content: center;
  gap: 1em;
}

button:first-child {
  background: #004a9f;
  color: white;

}
button:first-child:hover{
  transition: 0.5s;
  background: #4a7eb9;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.header-lessons {
  border: 1px solid #004a9f;
}

.header-lessons mat-toolbar {
  border-radius: 0;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header-lessons button {
  background: #1576e6;
  color: white;
  margin: 0.5em;
}

.header-lessons .delete {
  color: #F44336;
  background: none;
  justify-items: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.form-array-error {
  text-align: left;
  margin: 0 0 10px 5px;
}


