<mat-card>
  <mat-toolbar>Criar Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
        <mat-error class="error-message"
          *ngIf="
            form.controls.name.invalid &&
            (form.controls.name.dirty || form.controls.name.touched)
          "
        >
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
        <mat-error class="error-message"
          *ngIf="
            form.controls.category.invalid &&
            (form.controls.category.dirty || form.controls.category.touched)
          "
        >
          Categoria é obrigatória.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
