.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 100px;
}

.action-column-header {
  flex: 0 0 auto;
  margin: 0 auto;
}

button:first-child {
  color:#4a7eb9
}

button:nth-child(2) {
  color:#F44336
}
